*{
    padding: 0%;
    margin: 0%;
}

header{
    width: 100vw;
    height: 12vh;
    background-image: url(https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    opacity: 0.69;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 78vh;
    background-color: dimgrey;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: darkcyan;
}

#sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 470px;
    border: black 1px solid;
    border-radius: 70px;
    background-color: floralwhite;
}

#faixabranca{
    padding: 6px;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}